BGFI_BASE_URL=https://rdc-api2-partenaire-test.omnitechafrica.com
BGFI_LOGIN=your_login
BGFI_PASSWORD=your_password
BGFI_CONSUMER_ID=your_consumer_id
BGFI_CONSUMER_SECRET=your_consumer_secret
BGFI_CURRENCY=CDF
BGFI_CALLBACK_PATH=api/bgfi/callback
BGFI_REGISTER_CALLBACK_ROUTE=true
BGFI_CA_PATH=storage/cert/cacert.pem
BGFI_VERIFY_SSL=true
BGFI_TOKEN_TTL=3500
